body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
    margin: 0;

    background-image:
        linear-gradient(to top,
            rgba(253, 241, 206, 0) 0%,
            rgba(253, 241, 206, 0.8) 60%,
            rgba(253, 241, 206, 1) 100%),
        url('../imgs/about-imgs/about-bg.jpg');
    image-rendering: pixelated;

    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-wrapper {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    /* 再次确保内容居中 */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 1. 卡片容器：只负责布局和层级，不设置背景 */
.paper-panel {
    position: relative;
    z-index: 1;
    /* 保证文字在背景上面 */
    width: 85%;
    /* 卡片宽度 */
    max-width: 900px;
    max-height: 85vh;

    padding: 40px;
    border-radius: 15px;
    /* 圆角 */

    /* 允许内部文字滚动，但隐藏卡片本身的背景 */
    overflow-y: auto;
    background: none;
}

.paper-panel::before {
    content: "";
    position: absolute;
    /* 绝对定位，铺满父容器 */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: url('../imgs/all-imgs/letterBG.png');
    image-rendering: pixelated;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    opacity: 0.5;

    z-index: -1;
    /* 放在文字层下面 */
    border-radius: 15px;
    /* 保持和卡片一样的圆角 */
}

.page-title {
    text-align: center;
    font-size: 36px;
    color: #8b4513;
    border-bottom: 3px dashed #d2b48c;
    padding-bottom: 20px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 0px #fff;
}

.profile-layout {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.profile-left {
    flex: 1;
    min-width: 250px;
    text-align: center;
    background: rgba(255, 255, 255, 0.4);
    padding: 20px;
    border-radius: 8px;
    border: 2px dashed #b97a57;
}

.profile-right {
    flex: 2;
    min-width: 300px;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 40%;
    border: 4px solid #8b4513;
    overflow: hidden;
    margin-bottom: 20px;
    margin: 0 auto 20px;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 技能条样式 */
.skill-item {
    margin-bottom: 15px;
}

.skill-name {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.progress-bar-bg {
    background: #522e23;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #fff;
}

.progress-bar-fill {
    background: #76c356;
    height: 100%;
    width: 0%;
    transition: width 1s ease;
}

#HTML {
    width: 70%;
}

#SpringBoot {
    width: 75%;
}

#Python {
    width: 60%;
}

.line {
    border: 1px dashed #b97a57;
    margin: 20px 0;
}