/* 1. 设置全局默认鼠标样式 */
body {
    image-rendering: pixelated;
    cursor: url('../imgs/cursor/cursor.png'), auto;
}

/* 2. 设置按钮、链接、输入框的鼠标样式 (变成小手) */
a,
button,
.pixel-btn,
input[type="submit"],
.back-home-img-btn,
.music-btn,
.music-icon,
.back-home-img-btn {
    /* pointer: 标准的小手样式作为备选
    */
    cursor: url('../imgs/cursor/cursor-hand.png'), pointer;
    image-rendering: pixelated;
}

.back-home-img-btn {
    position: fixed;
    bottom: 100px;
    /* 距离底部的位置 */
    right: 80px;
    /* 距离右侧的位置 */
    z-index: 2000;
    /* 确保在最上层 */
    display: block;
    /* 让链接变成块级元素，这样才能设置宽高 */

    width: 150px;
    height: 100px;
    image-rendering: pixelated;
    background-image: url('../imgs/backbotton/back-btn.png');

    background-size: contain;
    /* 确保图片完整显示在框内 */
    background-repeat: no-repeat;
    background-position: center;

    /* 添加一点平滑过渡效果 */
    transition: all 0.1s ease-in-out;
}

/* 鼠标悬停时的状态 */
.back-home-img-btn:hover {
    background-image: url('../imgs/backbotton/back-btn-hover-on.png');
}

.back-home-img-btn:active {
    transform: scale(0.95);
    /* 点击时稍微缩小，模拟按压感 */
}